h1 {
  color: white;
  font-size: 24px;
}

.App {
  text-align: center;
  background-image: url(https://bnetcmsus-a.akamaihd.net/cms/gallery/r0/R0GMYGF5LC1E1509558726641.jpg);
  height: 100vh;
}

.query {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: red;
}

.character-render {
  display: flex;
}

.character-info {
  display: flex;
  flex-direction: column;
  color: white;
}

.favorites {
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 150px;
  color: white;

}